@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.content {
	margin : 100px auto;
	height : auto;
	min-height : 100%;
	width: 800px;
}


.point-bc {
	background-color : #5FC5FF;
}

.point-c{
	color : #5FC5FF;
}

.lightblue-bc{
	background-color : #C8EBFF;
}

.border-r5{
	border-radius : 5px;
}

.border-r10{
	border-radius : 10px;
}

.lightgray-bc{
	background-color : #E5E5E5;
}

.lightgray-c{
	color : #E5E5E5
}

.darkgray-bc{
	background-color : #C4C4C4;
}
.darkgray-c{
	color : #C4C4C4;
}
